<h1>Shake The Monkey</h1>

<form action='/new_search' method='post'>
  <input type='text' name='search' placeholder='Enter a word...' required>
  <input type='submit' value='Shake the Monkey!'>
</form>

<%= @words %>
<%= @test %>
