<h1>Shake The Monkey</h1>

You searched for <%= @word.text %> in
  <br>

  <%= @words %>
  <br><br>

  <%= @word.searched_for %>
  <br><br>

  <%= @message %>
  <br><br>

  <% unless @word.found %>
    <a href='/new_search'>Try again...</a>
  <% end %>
  <a href='/'>New Search</a>